{% extends "manageBase.html" %}

{% block content %}
    
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>

    <h1>Checkout</h1>

    <br></br>

    <form id="checkout" method="post">
        {% csrf_token %}
    <div id = "userDiv">
        <h4>
        <label for="id">Scan Library Card Number</label>
        <input name="id" type="text" hx-get="api/users" hx-target="#userDiv" hx-swap="outerHTML" hx-include="[name='id']"></input>
        </h4>
    </div>
    </form>  
    <br></br>
    
    <h4>
    <label for="bookLabelId">Scan Book Label</label>
    <input name="bookLabelId" type="text" hx-get="api/books/" hx-target="#BookList" hx-swap="beforeend" hx-include="[name='bookLabelId']"></input>
    </h4>
    
    
    <table id="BookList">
        <tr>
            <th>Book</th>
            <th>ISBN</th>
        </tr>  
    </table>
    
    

  
{% endblock %}