{% extends "manageBase.html" %}

{% block content %}

<br></br>

<h3>
<div class="container">
    <div class="row">
      <div class="col-lg">
        <label for="cardNumber">Find User By Card Number</label>
        <input name="cardNumber" type="text" hx-get="api/userSearch" hx-target="#userDiv" hx-swap="innerHTML" hx-include="[name='id']"></input>
      </div>
      <div class="col-lg">
        <label for="nameSearch">Find User by Name</label>
        <input name="nameSearch" type="text" hx-get="api/userSearch" hx-target="#userDiv" hx-swap="innerHTML" hx-include="[name='name']"></input>
      </div>
    </div>
</div>
</h3>

<div id="userDiv">
</div>

{% endblock content %}


