{% extends "manageBase.html" %}

{% block content %}

<br></br>

<script src="https://unpkg.com/htmx.org@1.8.4"></script>

<div class="container">
  <h3>  
  <div class="row">
      <div class="col-lg">
        <label class="form-label" for="cardNumber">Find User By Card Number</label>
        <input class="form-control" name="cardNumber" type="text" hx-get="api/userSearch" hx-target="#userTable" hx-swap="innerHTML" hx-include="[name='id']"></input>
      </div>
      <div class="col-lg">
        <label class="form-label" for="nameSearch">Find User by Name</label>
        <input class="form-control" name="nameSearch" type="text" hx-get="api/userSearch" hx-target="#userTable" hx-swap="innerHTML" hx-include="[name='name']"></input>
      </div>
    </div>
  </h3>
  </div>


  <br></br>
  <div id="userTable">
  </div>
  
  


{% endblock content %}


