{% extends "base_template.html" %}
{% block content %}
<br></br>
<h3>Your Account, {{ user.get_full_name }}</h3>

<br></br>

<h4>Books Checked Out:  </h4>

<table>
<tr>
    <th>Book</th>
    <th>ISBN</th>
    <th>Due Date</th>
</tr>

{% for book in books  %}
<tr>
    <td>{{ book.book.title }}</td>
    <td>{{ book.isbn }}</td>
    <td>{{ book.due_date }}</td>
</tr>    
{% endfor %}

</table>

<h4>Books On Hold:  </h4>

<table>
<tr>
    <th>Book</th>
    <th>ISBN</th>
    <th>Hold Status</th>
</tr>

{% for hold in holds  %}
<tr>
    <td>{{ hold.book.title }}</td>
    <td>{{ hold.isbn }}</td>
    <td>{{ hold.get_hold_status_display }}</td>
</tr>    
{% endfor %}

</table>

{% endblock content %}