{% extends "base_template.html" %}
{% block content %}


<h1>Local Library </h1>
  
    <h3 ><strong>{{ book.title }}</strong></h3>
    <h4 >By: {{ book.author }}</h4>
    <p>{{ book.summary }}</p>
    <h3>Copies:</h3>
    <table>
    <tr>
      <th>ISBN</th>
      <th>Availability</th>
      <th>Request Hold</th>
    </tr> 
    {% for bookInstance in bookInstances %}
    <tr>
      <td>{{bookInstance.isbn}}</td>
      <td>{{bookInstance.get_status_display}}</td>
      
      {% if bookInstance.holder == None %}
      <td><a href={%url 'request-view' bookInstance.labelId%}>Request Hold</a></td>
      {% else %}
      <td>Unavailable For Hold</td>
      {% endif %}

    </tr>
    {% endfor %}
  </table>
    
{% endblock %}